= form_for @reason, :url => { :action => "create"}, :html => {:class => "nifty_form"} do |f|
	Artist ID
	= f.text_field :artistID
	Location ID
	= f.text_field :locationID
	Reason
	= f.text_field :relationship
	= f.submit "Create", :class => "btn"