= form_tag create_reason_path, :method=>'post' do
  Artist ID
  = text_field_tag "artistID"
  Location ID:
  = text_field_tag "locationID"
  Reason:
  = text_area_tag "relationship"
  = submit_tag "Create", :class => "btn"

=link_to "scrape", lastfmscrape_reason_path, :class => "btn"

%br
%br
%table.table.table-bordered
  %thead
    %tr             
      %th id:        
      %th Artist Name:
  %tbody
    - @artists.each do |a|
      %tr
        %td 
          = a.id
        %td 
          = a.artistName

%br
%table.table.table-bordered
  %thead
    %tr                 
      %th id:    
      %th Location Name:
  %tbody
    - @locations.each do |l|
      %tr
        %td 
          = l.id
        %td 
          = l.locationName