= form_tag create_song_path, :method=>'post' do
  Song Name
  = text_field_tag "songName"
  Artist ID:
  = text_field_tag "artistID"
  Lyrics:
  = text_area_tag "lyrics"
  Link:
  = text_field_tag "link"
  = submit_tag "Create", :class => "btn"

=link_to "scrape",lastfmscrape_song_path, :class => "btn"